body{
    background-image: url("https://image.freepik.com/free-photo/tropical-fern-leaves-jungle-leaves-green-pattern-background_38076-1470.jpg");
    background-repeat: repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.animal-form, #buttonselect {
    margin: 10px 0px 10px 15px;
    color: white;
}

.container-fluid {
    margin: 25, 5, 10, 5;
}

h6 {
    font-weight: bold;
}

.gif {
    height: 250px;
    width: 250px;
    margin: 5px 5px 5px 5px;
}

.row {
    margin: 5px;

}